<div class="formularioRegistro">
  <h2>Usuarios registrados</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuarios">
        <th>{{item.id}}</th>
        <th>{{item.nombre}}</th>
        <th>{{item.usuario}}</th>
        <th>{{item.correo}}</th>
        <th>{{item.telefono}}</th>
        <th>{{item.direccion}}</th>
        <td>
          <button type="button" class="btn btn-danger"(click)="eliminar(item)">Eliminar</button>
          <button type="button" class="btn btn-success"(click)="editar(item)">Editar</button>


        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="formularioRegistro">
  <h2>Registrar Usuario</h2>
  <form [formGroup]="usuariosForm" (ngSubmit)="guardar()">
    <div class="form-goup">
      <label>Nombre Completo</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="form-goup">
      <label>Nombre de Usuario</label>
      <input type="text" formControlName="usuario" class="form-control">
    </div>
    <div class="form-goup">
      <label>Correo electronico</label>
      <input type="text" formControlName="correo" class="form-control">
    </div>
    <div class="form-goup">
      <label>Numero de Telefono</label>
      <input type="text" formControlName="telefono" class="form-control">
    </div>
    <div class="form-goup">
      <label>Dirección</label>
      <input type="text" formControlName="direccion" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="usuariosForm.invalid">Guardar</button>
  </form>
</div>


<router-outlet></router-outlet>